body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background-color: #212121;
  color: rgba(255, 255, 255, 0.87); }

.md-input-container > input, .md-input-container input,
.md-input-container > label, .md-input-container label,
.md-input-container.md-has-value > input,
.md-input-container.md-has-value input,
.md-input-container.md-has-value > label,
.md-input-container.md-has-value label {
  color: rgba(255, 255, 255, 0.87); }

.md-input-container::after,
.md-input-container.md-has-value::after {
  background-color: rgba(255, 255, 255, 0.12); }

@media (min-width: 400px) {
  div.two-inputs {
    display: flex; }
    div.two-inputs > * {
      flex-basis: 50%; } }
